In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
m=pd.read_csv('https://raw.githubusercontent.com/Rhevathi/DATA-SCIENCE/master/ML/2_linear_reg_multivariate/Exercise/hiring.csv')

In [3]:
m

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [4]:
m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   experience                  6 non-null      object
 1   test_score(out of 10)       7 non-null      float64
 2   interview_score(out of 10)  8 non-null      int64
 3   salary($)                   8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes

In [5]:
m.isnull().sum()

experience                    2
test_score(out of 10)         1
interview_score(out of 10)    0
salary($)                     0
dtype: int64

In [6]:
m['test_score(out of 10)'].median()

8.0

In [7]:
m['test_score(out of 10)']=m['test_score(out of 10)'].fillna(m['test_score(out of 10)'].median())

In [8]:
m

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [9]:
m.isnull().sum()

experience                    2
test_score(out of 10)         0
interview_score(out of 10)    0
salary($)                     0
dtype: int64

In [10]:
m.dropna(inplace=True)

In [11]:
x=m.drop('salary($)',axis=1)

In [12]:
x

  experience  test_score(out of 10)  interview_score(out of 10)
2       five                    6.0                           7
3        two                   10.0                          10
4      seven                    9.0                           6
5      three                    7.0                          10
6        ten                    8.0                           7
7     eleven                    7.0                           8

In [13]:
x.experience[x.experience=='five']=5
x.experience[x.experience=='two']=2
x.experience[x.experience=='seven']=7
x.experience[x.experience=='three']=3
x.experience[x.experience=='ten']=10
x.experience[x.experience=='eleven']=11

<ipython-input-13-febf1b3c0b11>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.experience[x.experience=='five']=5
<ipython-input-13-febf1b3c0b11>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.experience[x.experience=='two']=2
<ipython-input-13-febf1b3c0b11>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.experience[x.experience=='seven']=7
<ipython-input-13-febf1b3c0b11>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.experience[x.experience=='three']=3
<ipython-input-13-febf1b3c0b11>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.experience[x.experience=='ten']=10
<ipython-input-13-febf1b3c0b11>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.experience[x.experience=='eleven']=11

In [14]:
x

  experience  test_score(out of 10)  interview_score(out of 10)
2          5                    6.0                           7
3          2                   10.0                          10
4          7                    9.0                           6
5          3                    7.0                          10
6         10                    8.0                           7
7         11                    7.0                           8

In [16]:
y=m['salary($)']

In [17]:
y

2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary($), dtype: int64

In [18]:
multipleregmodel=linear_model.LinearRegression()

In [20]:
multipleregmodel.fit(x,y)

LinearRegression()

In [21]:
multipleregmodel.predict([[2,9,6]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([56600.58029804])

In [22]:
multipleregmodel.predict([[12,10,10]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([88585.79114905])

In [23]:
multipleregmodel.coef_

array([2358.88334883, 1712.35809459, 1671.00481704])

In [24]:
multipleregmodel.intercept_

26445.561846812605